<ul class="buy-links">
  <li class="buy-link"><a href="https://www.goodreads.com/book/show/31945022-all-the-difference">Goodreads</a></li> |
  <li class="buy-link"><a href="https://www.barnesandnoble.com/w/all-the-difference-patricia-horvath/1124727175;jsessionid=28AB9C18B23987E45CA259198B823621.prodny_store02-atgap01?ean=9780990322191&st=AFF&2sid=Goodreads,%20Inc_2227948_NA&sourceId=AFFGoodreads,%20IncM000004">Barns & Noble</a></li> |
  <li class="buy-link"><a href="http://www.indiebound.org/book/9780990322191">Indiebound</a></li> |
  <li class="buy-link"><a href="https://www.amazon.com/gp/product/099032219X/ref=x_gr_w_bb?ie=UTF8&tag=x_gr_w_bb-20&linkCode=as2&camp=1789&creative=9325&creativeASIN=099032219X&SubscriptionId=1MGPYB6YW3HWK55XCGG2">Amazon</a></li>
</ul>
